{% extends "common.html" %}
{% block title %}{{ super() }}—Category: {{category.name | title}}{% endblock %}
{% block content %}
  <header>
    <h1>{{ category.name | title }} Songs</h1>
  </header>
  {% for song in category.songs %}
    <article class="song">
      <h2><a name="{{song.slug}}" href="../../songs/{{song.slug}}/">{{song.title}}</a></h2>
      <dl class="metadata">
        {% if song.see %}
          <dt>See also</dt>
          <dd>
            {%- set comma = joiner(", ") -%}
            {%- for title, see_song in song.see -%}
              {{ comma() }}
              {%- if see_song -%}
                <a href="#{{see_song.slug}}">{{title}}</a>
              {%- else -%}
                {{title}}
              {%- endif %}
            {%- endfor -%}
          </dd>
        {% endif %}
        {% if song.categories %}
          <dt>Categories</dt>
          <dd>
            {%- set comma = joiner(", ") -%}
            {%- for name, song_category in song.categories -%}
              {{ comma() }}
              {%- if song_category -%}
                {%- if song_category == category -%}
                  <strong>{{name}}</strong>
                {%- else -%}
                  <a href="../{{song_category.slug}}/">{{name}}</a>
                {%- endif -%}
              {%- else -%}
                {{name}}
              {%- endif %}
            {%- endfor -%}
        {% endif %}
        {% if song.aka %}
          <dt>Also known as</dt>
          <dd>{{ song.aka | join(", ") }}</dd>
        {% endif %}
        {% if song.tune %}
          <dt>To the tune of</dt> <dd>{{song.tune}}</dd>
        {% endif %}
        {% if song.source %}
          <dt>Source</dt> <dd>{{song.source}}</dd>
        {% endif %}
        {% if song.copyright %}
          <dt>Copyright</dt> <dd>{{song.copyright}}</dd>
        {% endif %}
      </dl>
      <div class="lyrics">
        {{song.lyrics}}
      </div> <!-- lyrics -->
    </article>
  {% endfor %}
{% endblock content %}
